span {
	color: #2b6bba;
}
.use-number {
	background: #2b6bba;
	border: 1px solid #2b6bba;
}
.use-number h3 {
	color:white;
	line-height: 86px;
	margin: 0;
}
.use-content {
	height: 88px;
	border: 1px solid #2b6bba;
	display: flex;
	display: -webkit-flex;
}
.use-content p {
	margin: auto 0;
	font-size: .7125rem;
}
@media screen and (min-width: 40em) {
	.use-content p {
		font-size: .9125rem;
	}
	.use-content {
		height: 108px;
	}
	.use-number h3 {
		line-height: 106px;
	}
}