.orbit-slide img {
	max-width: 1920px;
	position: relative;
}
.orbit-slide div {
	position: relative;
	overflow: hidden;
}
.main-bar {
	height: 649px;
	margin-bottom: 30px;
}
.visit-form {
	background: #ced7dd;
	opacity:0.7;
	border: #8d959a solid 1px;
	margin-top: 2rem;
}
.visit-div {
	position: relative;
}
.visit-div h4, .visit-div h5 {
	font-weight: bold;
}
.visit-div .right-content h4, .visit-div .right-content h5 {
	color: white;
}
.visit-div img{
	margin-bottom: 2rem;
}
.visit-div .right-content {
	opacity: 0.9;
}
.side-bar {
	position: absolute;
	width: 100%;
}
.box{
	border: #333 solid 1px;
	margin: 0;
	height: 64px;
}
.box *{
	margin: auto;
}
.box.red {
	border: #F4645D solid 1px;
}
.box.red * {
	color: #F4645D;
}
h4.title{
	background: url('../img/barline_01.png') no-repeat 0 7px;
	padding-left: 15px;
}
.global-panel {
	padding: 1.5rem 1rem 0rem 1rem;
}
.panel {
	border: #2b6bba solid 1px;
	padding: 1.25rem 1rem;
}
.utilize {
	background: rgba(206,215,221,.9);
	border: #94999b solid 1px;
	padding: 1rem;
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
.utilize:hover {
	color: white;
}
@media screen and (max-width: 75em) {
	.orbit-slide img {
		transform: translateX(-25%);
	}
}
@media screen and (max-width: 64em) {
	h4.title span{
		display: none;
	}
	.visit-div {
		flex-flow: column-reverse;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
@media screen and (min-width: 40em) {
	.pb-md {
		padding-bottom: 0.9375rem;
	}
}
@media screen and (max-width: 40em) {
	.visit-div img {
		width: 4em;
	}
	.main-bar {
		height: 906px;
	}
	.pb-sm {
		padding-bottom: 0.9375rem
	}
}
.img-wrapper img {
	position: relative;
}
.img-wrapper {
	position: relative;
}
.img-wrapper:hover .img-info {
	opacity: 1;
}
.img-wrapper .img-info {
	-webkit-transition: opacity .3s ease-in-out;
	-moz-transition: opacity .3s ease-in-out;
	-o-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
	position: absolute;
	bottom: 0%;
	text-align: center;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	opacity: 0;
}
.img-wrapper .img-info * {
	text-align: center;
	color: white;
	width: 100%;
}