.box {
	border: 1px solid #d7d7d7;
}
.login {
	font-size: 1rem;
	padding: 2.25rem 1.5rem;
}
.login-wrap {
	padding: 1rem;
	display: inline-block;
	color: #0a0a0a;
}
.login-wrap.sign {
	color: #3d86e9;
}
.login-wrap.sign:hover {
	color: #2b6bba;
}