hr {
	margin: 1rem auto;
	border-bottom: 2px solid #333;
}
.subject h6 {
	padding-bottom: 0.5rem;
}
.title {
	background: url('../img/barline_02.png') no-repeat 0 3px;
	padding-left: 15px;
}
.content {
	padding-left: 2rem;
}
.pl {
	padding-left: 15px;
}
p {
	font-size: 14px;
}
.line-text {
	font-size: 14px;
	line-height: 30px;
}
.float-left hr, .float-right hr {
	border-bottom: 1px solid #333;
}