.wizard-progress {
	margin: 0 15px;
}
.wizard-progress .steps-progress {
	height: 2px;
	margin: 0 38px;
	position: relative;
	top: 15px;
	background: #CCC;
}
.wizard-progress .steps-progress .progress-indicator {
	height: 100%;
	width: 0;
	background: #0088cc;	
	-webkit-transition: width 0.2s ease-in;
	-moz-transition: width 0.2s ease-in;
	transition: width 0.2s ease-in;
}
.wizard-progress .wizard-steps {
	list-style: none;
	margin: 0;
	padding: 15px 0 0;
	display: inline-block;
	width: 100%;
	font-size: 0;
	text-align: justify;
	-ms-text-justify: distribute-all-lines;
	/* IE8+ */;
}
.wizard-progress .wizard-steps:after {
	display: inline-block;
	width: 100%;
	content: '.';
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}
.wizard-progress .wizard-steps li {
	display: inline-block;
	vertical-align: top;
	min-width: 50px;
	max-width: 100px;
}
.wizard-progress .wizard-steps li a {
	position: relative;
	display: block;
	padding: 25px 8px 0;
	font-size: 11px;
	color: #0a0a0a;
	line-height: 1;
	text-align: center;
	text-decoration: none;
	word-break: break-all;
}
.wizard-progress .wizard-steps li a span{
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	background: #CCC;
	color: #FFF;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	line-height: 52px;
	font-size: 22px;
	border-width: 4px;
	text-align: center;
	text-indent: -1px;
	border: 2px solid #CCC;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
.wizard-progress .wizard-steps li.completed a span {
	border-color: #0088cc;
	background: #0088cc;
	color: #FFF;
}
.wizard-progress .wizard-steps li.active a span {
	background: #FFF;
	color: #0088cc;
	border-color: #0088cc;
}
.wizard-progress.wizard-progress-lg {
	margin: 0 auto 30px;
	width: 80%;
}
.wizard-progress.wizard-progress-lg .steps-progress {
	margin: 0 52px;
	height: 4px;
	top: 34px;
}
.wizard-progress.wizard-progress-lg .wizard-steps {
	padding-top: 30px;
}
.wizard-progress.wizard-progress-lg ul li {
	max-width: 135px;
}
.wizard-progress.wizard-progress-lg ul li a {
	padding-top: 40px;
	font-size: 14px;
}

@media only screen and (max-width: 991px) {
	.wizard-progress, .wizard-progress.wizard-progress-lg {
		width: auto;
		margin-left: -15px;
		margin-right: -15px;
	}
	.wizard-progress .steps-progress {
		display: none;
	}
	.wizard-progress .wizard-steps {
		display: block;
		font-size: 0;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		width: 100%;
	}
	.wizard-progress .wizard-steps li {
		-webkit-transition: margin 0.5s linear;
		-moz-transition: margin 0.5s linear;
		transition: margin 0.5s linear;
		display: inline-block;
		float: none;
		position: relative;
		width: 100%;
		min-width: 0;
		max-width: none;
	}
	.wizard-progress .wizard-steps li a {
		position: relative;
		z-index: 2;
	}
	.wizard-progress .wizard-steps li:before, .wizard-progress .wizard-steps li:after {
		content: '';
		display: block;
		height: 2px;
		position: absolute;
		top: 0;
		width: 50%;
	}
	.wizard-progress .wizard-steps li:before {
		background: #CCC;
		left: 0;
	}
	.wizard-progress .wizard-steps li:after {
		background: #CCC;
		right: 0;
	}
	.wizard-progress .wizard-steps li.active {
		margin-left: 0;
	}
	.wizard-progress .wizard-steps li.completed {
		margin-left: -100%;
	}
	.wizard-progress .wizard-steps li.completed:after {
		background: #CCC;
	}
	.wizard-progress .wizard-steps li.completed.active {
		margin-left: 0;
	}
	.wizard-progress .wizard-steps li:first-child:before {
		display: none;
	}
	.wizard-progress .wizard-steps li:last-child:after {
		display: none;
	}
	.wizard-progress.wizard-progress-lg .wizard-steps li {
		min-width: 0;
		max-width: none;
	}
	.wizard-progress.wizard-progress-lg .wizard-steps li:before, .wizard-progress.wizard-progress-lg .wizard-steps li:after {
		height: 4px;
	}
}
.form-wizard {
	margin-bottom: 20px;
}
.form-wizard .tabs {
	margin-bottom: 0;
}
.form-wizard .tab-content {
	background: #fefefe;
	border: 0 none;
	box-shadow: none;
}
.form-wizard ul.pager .next a,
.form-wizard ul.pager .previous a,
.form-wizard ul.pager .first a,
.form-wizard ul.pager .last a,
.form-wizard ul.pager .finish a {
	cursor: pointer;
}
.form-wizard ul.pager .disabled a {
	cursor: not-allowed;
}
.tab-pane {
	display: none;
}
.tab-pane.active {
	display: block;
}
.scrollable {
	overflow-y: scroll;
	height: 440px;
	border: 1px solid #d7d7d7;
	padding: 0.9375rem;
}
.desc {
	font-size: 0.875rem;
}
.box {
	border: 2px solid #2b6bba;
}