.menu>li:not(.menu-text)>a{
	padding: 1rem;
	color: white;
	font-weight: 700;
}
.top-bar, .top-bar ul {
	background: #2b6bba;
}
.top-bar {
	border-bottom: 2px solid #1f4e87;
}
.top-bar li.active{
	border-bottom: 2px solid white;
}