@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body, h1, h2, h3, h4, h5, h6 {
	color: #474c50;
	font-family: "Nanum Gothic", sans-serif;
}
[data-whatinput=mouse] *:focus {
	outline: none;
}
i.icon {
	display: inline-block;
	background: url('../img/icon.png') no-repeat;
	position: relative;
	top: 3px;
	margin-right: 5px;
	width: 18px;
	height: 18px;
}
a>i.icon.home {
	background-position: 0 0;
}
a[aria-selected=true]>i.icon.home {
	background-position: 0 -23px;
}
a:active>i.icon.home {
	background-position: 0 -23px;
}
a>i.icon.office {
	background-position: 0 -45px;
}
a[aria-selected=true]>i.icon.office {
	background-position: 0 -67px;
}
a:active>i.icon.office {
	background-position: 0 -67px;
}
a>i.icon.triangle {
	background-position: 0 -138px;
}
i.icon.call {
	background-position: 0 -89px;
}
i.icon.yello-id {
	background-position: 0 -115px;
}
i.icon.map {
	background-position: 0 -156px;
}
i.icon.fb {
	background-position: 0 -276px;
	height: 21px;
}
h4.icon {
	background: url('../img/icon.png') no-repeat;
	padding-left: 31px;
}
h4.icon.folder {
	background-position:  0 -216px;
}
span.desc {
	font-size: 16px;
	line-height: 10px;
}
@media screen and (max-width: 64em) {
	span.desc {
		display: none;
	}
}
.vertical-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.pt {
	padding-top: 0.9375rem;
}
.pb {
	padding-bottom: 0.9375rem;
}
.pr-none {
	padding-right: 0 !important;
}
.pl-none {
	padding-left: 0 !important;
}
.p-none {
	padding: 0 !important;
}
.mb {
	margin-bottom: 0.9375rem;
}
/* logo */
.logo-black {
	float: left;
	margin-left: 0.25rem;
	margin-bottom: 0.5rem;
}
.title-bar .menu-icon {
	font-weight: 700;
	display: inline-block;
	vertical-align: middle;
	padding-left: 20px
}
.title-bar .menu-button {
	float: right;
}
.menu>li:not(.menu-text)>a{
	padding: 1rem;
	color: inherit;
	font-weight: 700;
}
.top-bar {
	padding-bottom: 0;
}
.top-bar, .top-bar ul {
	background: white;
}
.top-bar-left {
	padding-top: .25rem;
}
.top-bar li.active{
	border-bottom: #2b6bba solid 2px;
}
.empty-space {
	margin: 3.375rem 0;
}
footer {
	border-top: #2b6bba solid 1px;
	padding: 2rem 0;
}
footer .logo {
	margin-top: 1.25rem;
}
footer p {
	margin: 0;
	font-size: 8px;
	color: #a1aeb5;
}
@media screen and (max-width: 40em) {
	.top-bar {
		padding: 0;
	}
	.top-bar-right {
		float: none;
		text-align: center;
	}
	.menu>li {
		display: block;
		border-bottom: #d6d6d6 solid 1px;
	}
	.menu>li:hover {
		background: #d6d6d6
	}
	footer {
		text-align: center;
	}
}
@media screen and (min-width: 40em) {
	.top-bar {
		border-bottom: #2b6bba solid 1px;
	}
}
.tabs-title>a {
	font-size: 15px !important;
	padding: 0.8125rem 0.5625rem;
	line-height: 1.42857143;
	background-color: #ccc;
	color: #474c50;
}
.tabs-title>a[aria-selected="true"] {
	color: #fff;
	background-color: #2b6bba;
}
.tabs-title>a[aria-selected="true"]:hover {
	background-color: #2b6bba !important;
}
.tabs-title>a:active {
	color: #fff;
	background-color: #2b6bba;
}
.tabs-title>a[aria-selected=false]:hover {
	background-color: #ccc;
}
.tabs {
	border: none;
}
.tabs-panel {
	padding: 1.25rem 1rem;
}
.tabs-content {
	border: #2b6bba solid 1px;
}
.label {
	background-color: #7d98ba;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-right: 0.3333rem;
	margin-bottom: 0.3333rem;
}
a.active>.label {
	background-color: #2b6bba;
}
.row.align-center {
	text-align: center;
	vertical-align: middle;
}
input[type="file"], input[type="checkbox"], input[type="radio"], select {
	margin: 0 0 1.14286rem 0;
}
input[type="file"] { 
	width: 100%;
}
label.middle {
	margin-bottom: 0.5rem;
}
[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea {
	margin-bottom: 0.5rem;
}
input[type="file"], input[type="checkbox"], input[type="radio"], select {
	margin-bottom: 0.57143;
}
.tag .label {
	cursor: pointer;
}
.sticky-row {
	width:70px;
	font-size: 14px;
}
.sticky-row>a>img, .sticky-row>div {
	border: 1px solid #1f4e87;
}
.sticky-row>div {
	background: #2b6bba;
}
.sticky-row>div.red {
	background: #df433b;
	border: 1px solid #ab332c;
}
.sticky-row p {
	margin: 0.5rem 0;
	color: white;
}
.sticky-row a {
	color: white;
}
.sticky-row a:hover {
	color: white;
}
.button.fb-login {
	background: #3d86e9;
	text-align: center;
	width: 50%;
	margin: 1rem 0;
	font-size: 1rem;
}
.button.fb-login:hover {
	background: #2b6bba;
}
div.hr {
	margin: 1rem;
	width: 95%;
	border-top: 1px solid #d7d7d7;
}
.ml-none {
	margin-left: 0 !important;
}
.mr-none {
	margin-right: 0 !important;
}