span {
	color: #2b6bba;
}
.use-number {
	background: #2b6bba;
	border: 1px solid #2b6bba;
}
.use-number h3 {
	color:white;
	line-height: 86px;
	margin: 0;
}
.use-content {
	height: 88px;
	border: 1px solid #2b6bba;
	display: flex;
	display: -webkit-flex;
}
.use-content p {
	margin: auto 0;
	font-size: .7125rem;
}
@media screen and (min-width: 40em) {
	.use-content p {
		font-size: .9125rem;
	}
	.use-content {
		height: 108px;
	}
	.use-number h3 {
		line-height: 106px;
	}
}
.href-tab.active {
	color: #474c50;
}
.href-tab {
	color: #b2b2b2;
}
.href-tab.active:hover {
	color: #474c50;
}
.href-tab:hover {
	color: #b2b2b2;
}
table {
	border: 1px solid #2b6bba;
}
table thead {
	background: #2b6bba;
	color: white;
	border: 1px solid #2b6bba;
}
table thead tr th {
	text-align: center;
	border-left: 1px solid white;
	border-right: 1px solid white;
}
table thead tr th:last-child {
	border-right: none;
}
table thead tr th:first-child {
	border-left: none;
}
table tbody tr td {
	border-left: 1px solid #2b6bba;
	border-right: 1px solid #2b6bba;
}
table tbody tr td:last-child {
	border-right: none;
}
table tbody tr td:first-child {
	border-left: none;
}