.orbit-slide img {
	max-width: 1920px;
	position: relative;
}
.orbit-slide div {
	position: relative;
	overflow: hidden;
}
.main-bar {
	height: 649px;
	margin-bottom: 30px;
}
.visit-form {
	background: #ced7dd;
	opacity:0.7;
	border: #8d959a solid 1px;
	margin-top: 2rem;
}
.visit-div {
	position: relative;
}
.visit-div h4, .visit-div h5 {
	font-weight: bold;
}
.visit-div .float-right h4, .visit-div .float-right h5 {
	color: white;
}
.right-content {
	margin: 2rem 0 0 1rem;
	padding: 2.125rem 0 2.3125rem 0;
	background: rgba(60,60,60,0.7);
}
.visit-div img{
	margin-bottom: 2rem;
}
.side-bar {
	position: absolute;
	width: 100%;
}
label.red.caption {
	font-style: 11px;
	color: #df433b;	
}
.utilize {
	background: rgba(206,215,221,.9);
	border: #94999b solid 1px;
	padding: 1rem;
	color: white;
	text-align: center;
	font-size: 18px;
	font-weight: 700;
}
.utilize:hover {
	color: white;
}
@media screen and (max-width: 75em) {
	.orbit-slide img {
		transform: translateX(-25%);
	}
}
@media screen and (max-width: 64em) {
	.visit-div {
		flex-flow: column-reverse;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.vertical-center {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
@media screen and (max-width: 40em) {
	.visit-div img {
		width: 4em;
	}
	.main-bar {
		height: 906px;
	}
}
.box{
	border: #333 solid 1px;
	margin: 0;
	height: 160px;
	font-size: 16px;
}
.box *{
	margin: auto;
}
.box.red {
	border: #F4645D solid 1px;
}
.box.red * {
	color: #F4645D;
}
.box.primary {
	border: #2e6cb5 solid 1px;
}
.box.primary * {
	color: #2e6cb5;
}